<!--
  Generated template for the EditbiomodalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div class="wraper_modal">
  <div class="content">
    <p>Tell us about yourself</p>

    <ion-textarea *ngIf="editable" class="body" [(ngModel)]="aboutme"></ion-textarea>
    <div *ngIf="!editable" class="body" (click)="editable=true">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 28 28" style="enable-background:new 0 0 28 28;" xml:space="preserve">
        <g>
          <g>
            <polygon style="fill:#010002;" points="21,4 1,4 1,8 9,8 9,26 13,26 13,8 21,8 		" />
            <polygon style="fill:#010002;" points="27,2 27,0 21,0 21,2 23,2 23,26 21,26 21,28 27,28 27,26 25,26 25,2 		" />
          </g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
      </svg>

    </div>
    <button ion-button class="save_btn" color="primary" (click)="returnParent()">
      SAVE
    </button>
    <button ion-button class="close_btn" color="primary" (click)="goBack()">
      CLOSE
    </button>

  </div>
</div>