page-sign-email {
    
    p {
    font-size: 15px;
    line-height: 1.5;
    color: #b6b5b1;
    text-align: center;
    margin: 0 10px;

   
  } 
  b{
    font-size:15px;
    line-height: 1.5;
    color: #b6b5b1;
    margin-left: 5px;


  }

}
