page-picturemodal {
    .content{
        width: 150%;
        height: 50%;
        // margin-top:30px;
        margin:0;
        transform: rotate(90deg);       

    }
    .img_style{
        width: 100%;
        height: 100%;
        // left: 60%;
        
        // margin-top: 40px;
        position: absolute;
        left: 32%;
        top: 30%;
    }
    .icon_style{
        font-size: 57px;
        position: absolute;
        left: 32%;
        top: 30%;


    }
  
    

}
