page-settings {
 .msg {
    font-size: 15px;
    line-height: 1.5;
    color: #b6b5b1;
    text-align: center;
    margin: 0 10px;

   
  } 
  .detail{
    font-size: 17px;
    float: left;
    margin-top: 0;
    margin-left: 13px;
    color: #b6b5b1;
  }
  .pharagraph{
    padding-left: 20px;
    padding-bottom: 0;
    padding-top: 10px;
  }
}
