page-addyourdungeon {
    ion-footer{
        background-color : #202020;
        height: 80px;
        border-top: 1px solid #323232;
    }
    .divpadding{
        padding: 10px;
    }
    .dungeonaddtitle{
        font-size: 17px;
    }
    .detaildescription{
        color: #808993;

    }
    .photoupload{
        background: #474747;
         border-radius: 5px;
    }
    .bigphoto{
        width: 50%;
        height: 100%;
    }
    .smallphoto{
        width: 25%;
        height: 100%;
        padding-left: 4px!important;
    }
    .absolutepushmin{
        position: absolute;
        top:0px;
    }
    .paddingzero{
        padding:0px;
      
    }
    .imaclass{
        width: 100%;
        height: 100%;
         border-radius: 5px;
    }
    .imgrowclass{
        height: 154px;
       
    }
    .imgrowclass1{
        height: 75px;
    }
    .imgrowclass2{
        margin-top:4px;
    }
    .lay{
        margin:20%;
    }
    .svgmargin{
        margin-top: 14px;
    }
    .adddungeonphoto{
        width: 100px;
        height: 100px;
        border-radius: 50%;

        margin-left: 35%;
        margin-top: 40px;

    }


    .detailtitle{
        color: #505050;
        font-size: 12px;
    }
    .titlestyle{
        font-size: 17px;
        text-align: center;
    }
    .descriptionstyle{
        padding-left: 20px;
        font-size: 17px;
        margin-top: 0px;
    }
    .paddingleftcol{
        padding-left: 20px;
    }
    .width100{
        width: 100%;
    }
    .fontstyle{
        color: #7b848e;
    }
    .svgmargin1{
        margin-top: -1px;
    }
    .noreviews{
        font-size: 20px;
        text-align: center;
        margin-top: 200px;
    }

    .footbutton{
        text-align: center;
        padding-top: 12px;
    }
    .foottext{
        color: white;
        margin-top: 0px;
    }
    .footbuttonani{
        background-color:rgba(255, 255, 255, .06);

    }
    .namestyle{
        width:100%;text-align:center;background-color:rgba(255,255,255,0);color:white!important;border: none;
    }
    .aboutdetail0{
        color: #7b848e;width: 100%;border: none; resize: none;background-color:#202020;
    }


    ion-range{
        padding:0!important;
        height: 0;
        margin-top: -12px;
    }
    .range-bar{
        height:7px !important;
        border-radius: 16px !important;
        background:#323232!important;
        
    }
    .range-bar-active{
         background: #2eb872 !important;
    }

    .range-knob{
        background: rgba(0, 0, 0, 0) !important;
        // background-image: url('../assets/img/dot.png') !important;
        background-size: 0px !important;
        background-repeat:no-repeat !important; 
        background-position:center !important;
        height:0px !important;
        width:0px !important;
   
    }
 

    ion-item{
        
        background-color: transparent!important;
        padding: 0!important;
    }
    .item-inner{
        border: none!important;
        padding-left: 0!important;
       

    }
    ion-label{
        padding-left: 0!important;
        margin:4px 0px 11px 0px!important;

    }
    .like_dis{
        color:#a3a3a3;padding-left: 8px;padding-top: 5px;
    }
    



   

}
